.botton {
  background-color: #2d2d2d;
  height: 80px;
  left: -661px;
  position: relative;
  top: -358px;
  width: 235px;
}

.botton .contact-2 {
  color: var(--white);
  font-family: "Epilogue", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  left: 76px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 24px;
  white-space: nowrap;
}
