.gallery {
  background-color: var(--white);
  left: 20px;
  position: relative;
  width: 1280px;
}

.gallery .latest-work {
  color: var(--black);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  left: 544px;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: absolute;
  text-align: center;
  top: 50px;
  white-space: nowrap;
}

.gallery .gallery-card-1280-1 {
  left: 100px !important;
  position: absolute !important;
  top: 149px !important;
}

.gallery .component {
  left: 475px !important;
  position: absolute !important;
  top: 149px !important;
}

.gallery .gallery-card-instance {
  left: 850px !important;
  position: absolute !important;
  top: 149px !important;
}

.gallery .gallery-card-1280-1-instance {
  left: 100px !important;
  position: absolute !important;
  top: 631px !important;
}

.gallery .instance-node {
  left: 475px !important;
  position: absolute !important;
  top: 631px !important;
}

.gallery .component-2 {
  left: 850px !important;
  position: absolute !important;
  top: 631px !important;
}

.gallery .gallery-card-2 {
  background-color: #f3f3f3;
  height: 475px;
  left: 100px;
  position: absolute;
  top: 146px;
  width: 500px;
}

.gallery .rectangle-2 {
  height: 295px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 500px;
}

.gallery .project-title-i {
  color: var(--black);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  left: 45px;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: absolute;
  top: 346px;
  white-space: nowrap;
  width: 413px;
}

.gallery .UI-art-drection-i {
  color: var(--black);
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  left: 45px;
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: absolute;
  top: 400px;
  white-space: nowrap;
  width: 266px;
}

.gallery .gallery-card-3 {
  background-color: #f3f3f3;
  height: 475px;
  left: 100px;
  position: absolute;
  top: 685px;
  width: 500px;
}

.gallery .gallery-card-4 {
  background-color: #f3f3f3;
  height: 475px;
  left: 680px;
  position: absolute;
  top: 146px;
  width: 500px;
}

.gallery .gallery-card-5 {
  background-color: #f3f3f3;
  height: 475px;
  left: 680px;
  position: absolute;
  top: 685px;
  width: 500px;
}

.gallery.gallery-1280-1 {
  height: 1100px;
  top: 20px;
}

.gallery.gallery-1280-2 {
  height: 1237px;
  top: 1140px;
}
